@charset "utf-8";
/* CSS Document */
body {
	width:100%;
	font-family:"微软雅黑";
	min-width:1280px;
	}
.top {
	width:100%;
	height:550px;
	background:url(../images/culture/banner.jpg) no-repeat center;
	}
.top .topleft {
	padding-top:58px;
	margin-left:6%;
	float:left;
	position:relative;
	height:492px;
	}
/*.top .topright {
	margin-right:6%;
	float:right;
	padding-top:60px;
	font-size:60px;
	color:#fff;
	}
.top .topright i {
	cursor:pointer;
	}*/
.topright {
	background-color:none;
	text-align: center;
	height:550px;
	color: #fff;
	position: relative;
	}
.topright span.right{
	width: 100px;
	height:100px;
	position: absolute;right: 6%;
	top: 50px;
	background:url(../images/technology/nav.png) no-repeat center center;
	background-size: 60%;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);     /* IE 9 */
	-moz-transform:rotate(0deg);    /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg);
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor:pointer;
}
.topright span.right.on{
	background:url(../images/technology/btn.png) no-repeat center center;
	background-size: 55%;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg);     /* IE 9 */
	-moz-transform:rotate(135deg);    /* Firefox */
	-webkit-transform:rotate(135deg); /* Safari 和 Chrome */
	-o-transform:rotate(135deg);
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor:pointer;
}

.menu{
	overflow: hidden;
	background-color:rgba(0,0,0,0.5);
	width:400px;
	margin:0 auto;
	position: absolute;
	left: 0;top:150px;
	right: 0;
	z-index: 9999;
	height: 0;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.menu li{
	width:100%;
	text-align:center;
	font-size:22px;
	line-height: 50px;
	 list-style:none;
	 }
.menu li a{
	color: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
	 text-decoration:none;
	 }
.slogan {
	width:600px;
	height:200px;
	position:absolute;
	left:0;
	bottom:50px;
	}
.slogan p:first-child {
	font-size:48px;
	color:#fff;
	}
.slogan p:last-child {
	font-size:36px;
	color:#fff;
	margin-top:10px;
	}
.menu2 {
	width:100%;
	height:60px;
	border-bottom:1px solid #e5e5e5;
	}
.menu2 ul {
	width:480px;
	height:60px;
	margin:0 auto;
	}
.menu2 ul li {
	height:60px;
	line-height:60px;
	font-size:18px;
	list-style:none;
	float:left;
	margin-right:40px;
	}
.menu2 ul li.nomorgin {
	margin-right:0;
	}
.menu2 ul li a {
	color:#333;
	text-decoration:none;
	}
.menu2 ul li a:hover,.menu2 ul li.active a {
	color:#4cbcc7;
	text-decoration:none;
	}
.content {
	width:87.5%;
	margin:0 auto;
	margin-top:40px;
	height:920px;
	}
.content p {
	font-size:36px;
	color:#333;
	}
.content .news_list {
	width:100%;
	margin-top:10px;
	}
.content .news_list .section {
	width:47%;
	height:380px;
	margin-bottom:30px;
	}
.news_list .section p.title {
	font-size:24px;
	color:#333;
	width:100%;
	overflow:hidden ;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.news_list .section img {
	width:50%;
	}
.news_list .section p.newscontent {
	font-size:14px;
	margin-top:10px;
	line-height:25px;
	height:80spx;
	overflow:hidden;
	}
.section p.date {
	font-size:14px;
	margin-top:20px;
	}
.section .title a {
	color:#333;
	text-decoration:none;
	}
.section .newscontent a,.section .date a {
	color:#4A4A4A;
	text-decoration:none;
	}
.section a:hover {
	text-decoration:underline;
	}
.icon {
	width:404px;
	margin:0 auto;
	height:40px;
	}
.pre,.next {
	width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#333;
	border:1px solid #333;
	float:left;
	margin-right:100px;
	}
.icon .nomargin {
	margin-right:0;
	}
.pre:hover,.next:hover {
	cursor:pointer;
	border:1px solid #333;
	background:#333;
	color:#fff;
	}
.pagination1 {
	width:300px;
	height:16px;
	margin:50px 0 15px 6.25%;
	}
.pagination1 a {
	color:#333;
	font-size:14px;
	text-decoration:none;
	}
.pagination1 a:hover {
	text-decoration:underline;
	}
.footer {
	width:100%;
	height:80px;
	margin-top:30px;
	background:#1b1b1b;
	}
.footer .f_content {
	width:800px;
	height:80px;
	margin:0 auto;
	text-align:center;
	}
.footer .f_content .info {
	padding:15px 0;	
	margin-left:160px;
	}
.footer .f_content .info a {
	display:block;
	float:left;
	margin-right:10px;
	text-decoration:none;
	color:#A0A0A0;
	font-size:14px;

	}
.footer .f_content .info a:hover {
	color:#fff;
	text-decoration:underline;
	}
.footer .f_content .copyright {
	color:#a0a0a0;
	font-size:14px;
	}
@media(min-width:1441px) {
	.content .news_list .section {
	width:47%;
	height:400px;
	margin-bottom:30px;
	}
	}