@charset "utf-8";
/* CSS Document */
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
body {
	width:100%;
	font-family:"微软雅黑";
	min-width:1280px;
	}
.top {
	width:100%;
	height:550px;
	background:url(../images/service/banner.png) no-repeat center;
	}
.top .topleft {
	padding-top:58px;
	margin-left:6%;
	float:left;
	position:relative;
	height:492px;
	}
/*.top .topright {
	margin-right:6%;
	float:right;
	padding-top:60px;
	font-size:60px;
	color:#fff;
	}
.top .topright i {
	cursor:pointer;
	}*/
.topright {
	background-color:none;
	text-align: center;
	height:550px;
	color: #fff;
	position: relative;
	}
.topright span.right{
	width: 100px;
	height:100px;
	position: absolute;right: 6%;
	top: 50px;
	background:url(../images/technology/nav.png) no-repeat center center;
	background-size: 60%;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);     /* IE 9 */
	-moz-transform:rotate(0deg);    /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg);
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor:pointer;
}
.topright span.right.on{
	background:url(../images/technology/btn.png) no-repeat center center;
	background-size: 55%;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg);     /* IE 9 */
	-moz-transform:rotate(135deg);    /* Firefox */
	-webkit-transform:rotate(135deg); /* Safari 和 Chrome */
	-o-transform:rotate(135deg);
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor:pointer;
}

.menu{
	overflow: hidden;
	background-color:rgba(0,0,0,0.5);
	width:400px;
	margin:0 auto;
	position: absolute;
	left: 0;top:150px;
	right: 0;
	z-index: 9999;
	height: 0;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.menu li{
	width:100%;
	text-align:center;
	font-size:22px;
	line-height: 50px;
	 list-style:none;
	 }
.menu li a{
	color: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
	 text-decoration:none;
	 }
.slogan {
	width:600px;
	height:200px;
	position:absolute;
	left:0;
	bottom:50px;
	}
.slogan p:first-child {
	font-size:48px;
	color:#fff;
	}
.slogan p:last-child {
	font-size:36px;
	color:#fff;
	margin-top:10px;
	}
.menu2 {
	width:100%;
	height:60px;
	border-bottom:1px solid #e5e5e5;
	}
.menu2 ul {
	width:800px;
	height:60px;
	margin:0 auto;
	}
.menu2 ul li {
	height:60px;
	line-height:60px;
	font-size:18px;
	list-style:none;
	float:left;
	margin-right:40px;
	}
.menu2 ul li.nomorgin {
	margin-right:0;
	}
.menu2 ul li a {
	color:#333;
	text-decoration:none;
	}
.menu2 ul li a:hover,.menu2 ul li.active a {
	color:#4cbcc7;
	text-decoration:none;
	}
.content {
	width:100%;
	margin:0 auto;
	margin-top:50px;
	}
.c_left {
	float:left;
	width:30%;
	height:538px;
	margin-left:6%;
	}
.c_left p.title {
	color:#333;
	font-size:36px;
	}
.map {
	width:63%;
	height:538px;
	border:#ccc solid 1px;
	float:right;
	}
.section_one {
	width:100%;
	height:90px;
	margin-top:10px;
	}
.section_one p {
	font-size:18px;
	color:666;
	}
.section_one select {
	border:solid 1px #333;
	width:100%;
	height:50px;
	outline:none;
	margin-top:5px;
	border-radius:5px;
	font-size:18px;
	padding-left:10px;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
	background:url(../images/service/arrow.png) no-repeat right center transparent;
	cursor:pointer;
	}
select::-ms-expand { display: none; }
.zx {
	width:100%;
	height:40px;
	margin:0 auto;
	background:#4cbcc7;
	line-height:40px;
	text-align:center;
	color:#fff;
	border-radius:5px;
	font-size:20px;
	margin-top:40px;
	cursor:pointer;
	margin-bottom:40px;
	}
.searchbox {
width:100%;
height:40px;
border:1px solid #333;
border-radius:5px;
margin-top:5px;
}
.search_input {
border:0 none;
background:none;
height:35px;
line-height:35px;
outline:none;
padding-left:30px;
}
.search_btn {
width:20px;
height:20px;
margin:6px 20px 0 0;
border:none;
background:none;
outline:none;
cursor:pointer;
}
.icon-search {
font-size:25px;
color:#4cbcc7;
}
.dealerlist {
	width:100%;
	height:330px;
	margin-top:50px;
	}
.dealerlist .title {
	margin-left:6%;
	font-size:36px;
	color:#333;
	}
.contentlist {
	width:87.5%;
	margin:0 auto;
	}
.contentlist .section {
	width:15%;
	height:260px;
	float:left;
	border:1px solid #333;
	border-radius:5px;
	margin-top:10px;
	margin-right:6%;
	}
.contentlist .nomargin {
	margin-right:0;
	}
.section p:nth-child(1) {
	font-size:24px;
	color:#4cbcc7;
	padding:2px 5px;
	text-align:center;
	}
.section p:nth-child(2) {
	font-size:14px;
	color:#333;
	line-height:30px;
	}
.section p:nth-child(3) {
	font-size:14px;
	color:#333;
	line-height:30px;
	}
.section p:nth-child(4) {
	font-size:14px;
	color:#333;
	line-height:30px;
	}
.section i {
	font-size:20px;
	padding:0 5%;
	height:40px;
	}
.load {
	width:85%;
	margin:0 auto;
	margin-top:10px;
	}
.load .lu {
	float:left;
	font-size:14px;
	}

.load .more {
	float:right;
	font-size:14px;
	}
.load .lu a,.load .more a {
	color:#4cbcc7;
	text-decoration:none;
	}
.load .lu a:hover,.load .more a:hover {
	color:#4cbcc7;
	text-decoration:underline;
	}	
.loadmore {
	width:150px;
	height:40px;
	background:#4cbcc7;
	border:1px solid #4cbcc7;
	border-radius:5px;
	font-size:20px;
	color:#fff;
	line-height:40px;
	text-align:center;
	margin:30px auto;
	
	}
.loadmore:hover {
	cursor:pointer;
	border:1px solid #4cbcc7;
	color:#4cbcc7;
	background:none;
	}
.pagination1 {
	width:500px;
	height:16px;
	margin:40px 0 15px 6.25%;
	}
.pagination1 a {
	color:#333;
	font-size:14px;
	text-decoration:none;
	}
.pagination1 a:hover {
	text-decoration:underline;
	}
.footer {
	width:100%;
	height:80px;
	margin-top:30px;
	background:#1b1b1b;
	}
.footer .f_content {
	width:800px;
	height:80px;
	margin:0 auto;
	text-align:center;
	}
.footer .f_content .info {
	padding:15px 0;	
	margin-left:160px;
	}
.footer .f_content .info a {
	display:block;
	float:left;
	margin-right:10px;
	text-decoration:none;
	color:#A0A0A0;
	font-size:14px;

	}
.footer .f_content .info a:hover {
	color:#fff;
	text-decoration:underline;
	}
.footer .f_content .copyright {
	color:#a0a0a0;
	font-size:14px;
	}
@media(min-width:1441px) {
	.contentlist .section {
	width:15%;
	height:220px;
	float:left;
	border:1px solid #333;
	border-radius:5px;
	margin-top:10px;
	margin-right:6%;
	}
	.contentlist .nomargin {
	margin-right:0;
	}
	}
